<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <div class="container-fluid">
  <a class="navbar-brand" routerLink="home">
    <img src="../../../assets/download.png" style="height: 50px;" class="w-100" alt="">
  </a>
  <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav me-auto mt-2 mt-lg-0">

      <li class="nav-item">
        <a class="nav-link" routerLink="logs" routerLinkActive="text-main"  >Logs</a>
      </li>


    </ul>
    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
      <li class="nav-item" *ngIf="!isLogin">
        <a class="nav-link" routerLink="login" routerLinkActive="text-main" >LogIn</a>
      </li>
      <li class="nav-item" *ngIf="!isLogin">
        <a class="nav-link" routerLink="register" routerLinkActive="text-main" >Register</a>
      </li>
      <li class="nav-item" *ngIf="isLogin" (click)="logout()">
        <a class="nav-link"  routerLinkActive="text-main" >Logout</a>
      </li>
    </ul>
  </div>
</div>
</nav>

